body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  color: #B8336A;
}

button {
  background-color: #A0D2DB;
  color: #133667;
  font-weight: bolder;
  margin: .5em;
  padding: .4em .8em;
  border: 1px solid black;
}

input {
  margin-bottom: .5em;
  background-color: #EEF9FC;
  border: transparent;
}

form {
  border-bottom: 2px solid #9948AD ;
  padding-bottom: 10px;
}

div {
  background-color: #B5B3D1;
  margin: 10px;
}